body {
  background: black;
}

.search-box {
  margin-top: 20px;
}

.search-bar {
  margin-left: 10px;
  margin-right: 10px;
  width: 200;
  color: white;
  background: black; 
}

input[type=text] {
  color: white !important;
}


.user-profile {
  position: absolute;
  top: 50%;
  left: 52%;
  margin: -100px 0 0 -150px;
}